{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container p-5">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_error }}

        <div class="col-lg-4 col-md-12">
            <!--            {{ form.old_password.label }}<br>-->
            {{ form.old_password | as_crispy_field}}
            <!--            {{ form.old_password.errors }}-->
        </div>
        <div class="col-lg-4 col-md-12">
            <!--{{ form.old_password.label }}<br>-->
            {{ form.new_password | as_crispy_field}}
            <!--        {{ form.new_password.errors }}-->
        </div>

        <div class="col-lg-4 col-md-12">
            <!--{{ form.old_password.label }}<br>-->
            {{ form.confirm_password | as_crispy_field}}
            <!--        {{ form.confirm_password.errors }}-->
        </div>

        <!-- {% if massage %}-->
        <!--        <div class="error-list">-->
        <!--            <ul>-->
        <!--                {% for message in messages %}-->
        <!--                -->
        <!--                <li><p>Исправите следующие ошибки: </p>{{ message }}</li>-->
        <!--                {% endfor %}-->
        <!--            </ul>-->
        <!--        </div>-->
        <!-- {% endif %}-->
        <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>
</div>

{% endblock content %}