{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--{{ form.non_field_error }}-->

<div class="container p-5">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-lg-4 col-md-12">
            {{ form.old_password | as_crispy_field}}
        </div>
        <div class="col-lg-4 col-md-12">
            {{ form.new_password_1 | as_crispy_field}}
        </div>
        <div class="col-lg-4 col-md-12">
            {{ form.new_password_2 | as_crispy_field}}
        </div>

        {{ form.non_field_error }}

        {{ form.non_field_error }}
        <div class="error-list">
            <p>Исправите следующие ошибки:</p>
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>
</div>

{% endblock content %}