{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container p-5">
    <h2 class="col-12 mb-2 mx-3">Редактировать данные пользователя <i class="text-success">{{user.username}}</i></h2>
    <p></p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <h4>Текущее изображение</h4>
            {% if form.image %}
                <img width="150px" height="100px" src="/media/{{user.image}}">
            {% endif %}
        </div>
         <div class="row">
            {{form.image|as_crispy_field}}
        </div>
        <div class="row">
            {{form.username|as_crispy_field}}
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                {{form.first_name|as_crispy_field}}
            </div>
            <div class="col-lg-6 col-md-12">
                {{form.last_name|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            {{form.email|as_crispy_field}}
        </div>
        <div class="row">
            {{form.phone|as_crispy_field}}
        </div>
        <div class="row">
            {{form.city|as_crispy_field}}
        </div>
        <button
                type="submit" class="btn btn-primary col-3 mb-2 mx-3"><i class="bi bi-images mx-2"></i>Редактировать
        </button>
    </form>
</div>
</form>

{% endblock content %}


