{% extends 'board/base.html' %}
{% load static %}
{% block content %}

<style>
    .style-2 {
    list-style-type: "\1F7E2";
    }
    html, body {
    background-color: #75b798;
    }
</style>

<div class="card border-light mb-3 ms-5 mt-5" style="max-width: 18rem;">
  <div class="card-header"><h3>Это страница о нас</h3></div>
    <img src="{% static 'img/rag-dolls-gray-and-one-blue-front.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body text-success">
    <h5 class="card-title">Автор - <i>{{name}} {{lastname}}</i></h5>
    <p class="card-text">Электронный адрес - <i>{{email}}</i></p>
     <a href="{% url 'board:index'%}" class="btn btn-primary">На главную страницу</a>
  </div>
</div>
{% endblock content %}
