{% extends 'board/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<h2 style="text-align: center;">Добавить новое объявление</h2>

<div class="container p-5">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6 col-md-12">
                {{form.author|as_crispy_field}}
            </div>
            <div class="col-lg-6 col-md-12">
                {{form.title|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            {{form.text|as_crispy_field}}
        </div>
        <div class="row">
            {{form.image|as_crispy_field}}
        </div>
        <div class="row">
            {{form.url_adders|as_crispy_field}}
        </div>
        <button type="submit" class="btn btn-primary col-3 mb-2 mx-3"><i class="bi bi-images mx-2"></i>Добавить</button>
    </form>
</div>

{% endblock content %}
